<div id="wrapper" ng-controller="stv_main_ctr" style="display:none;">
	<ul class="menu" id="captionSection" title="">
		<li>
			<a id="TopPanel">Markiza Feed Streamer 
				<img class="setting" title="Settings" src="images\icons\gear.png" ng-click="editSettings()"/>
			</a>
		</li>
	</ul>
	
	<ul class="menu settingsBlock" ng-class="settingsScreenState" ng-show="editMode">
		<li>
			<a style="display: -webkit-box;">
				<div>DATAHUB</div> 
				<div class="notConnected" ng-show="!dataHubAvailable">(No Connection)</div>
				<img class="Connection connectionNo" ng-show="!dataHubAvailable" src="images\icons\Disconnected.png" title="No connection to DataHub"/>
				<img class="Connection connectionOk" ng-show="dataHubAvailable" src="images\icons\Connected.png" title="Connected to DataHub"/>
			</a>
            <ul>
                <li>
					<a>
						<div>
							Host 
							<input type="text" id="dhUriHost" class="host" placeholder="Host" ng-model="dataHubUriHost" ng-trim="true" ng-class="{error: hostError==true}" ng-disabled="settingsScreenState == 'readOnly'" />
						</div>
						<div style='margin-top:-6px;'>
							Port 
							<input type="text" id="dhUriPort" class="port" placeholder="Port" ng-model="dataHubUriPort" ng-trim="true" ng-class="{error: portError==true}" ng-disabled="settingsScreenState == 'readOnly'" />
							<input type="button" class="button btnConnect" ng-click="connectDataHub()" ng-disabled="!dataHubUriValid" value="Connect" />
							<input type="button" class="button btnChange" ng-click="changeSettings()" value="Change" />
							<input type="button" class="button btnCancel" ng-click="cancel()" value="Cancel" />
						</div>
					</a>
				</li>
            </ul>
        </li>
	</ul>
	
	
	<ul class="menu" ng-show="editMode">
		<li>
			<span id="version"></span>
		</li>
	</ul>
</div>
